body {
    text-align: center;
    background-color: white;
    color: #f16520;
    font-family: sans-serif;
}

hr {
    border-top: #f16520 solid 2px;
    margin: 50px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.details {
    font-weight: 1000;
    font-size: larger;
}


@media only screen and (max-width: 450px) {

    .container {
        width: 90%;
    }

    img {
        width: 100%;
    }

}