// Import variables, mixins and components
@import './components/angle-mixin.scss';
@import './components/variables.scss';
@import './components/common.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './components/buttons.scss';
@import './components/reactiveRender.scss';
@import './components/dropdown.scss';
@import './components/hero.scss';
@import './components/section.scss';
@import './components/scroll-arrow.scss';

.row {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.software-icon {
    width: 100px;
    height: 100px;
    padding: 1rem;
}

    
.benefit-icon{
    height: 200px;
    padding-top: 5rem;
}