// Import variables, mixins and components
@import './components/angle-mixin.scss';
@import './components/variables.scss';
@import './components/common.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './components/buttons.scss';
@import './components/reactiveRender.scss';
@import './components/dropdown.scss';
@import './components/hero.scss';
@import './components/section.scss';
@import './components/shoe.scss';
@import './components/scroll-arrow.scss';

.wwd-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

.wwd-column {
    display: flex;
    flex-direction: column;
    width: 40%;

    height: fit-content;
}

.contact-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 3rem;
}

.contact-col {
    display: flex;
    flex-direction: column;
}

.wwd-icon-large {
    height: 7rem;
}

.wwd-icon-compact {
    height: 5rem;
    padding: 2rem;
}

.contact-us-btn:hover {
    transform: scale(1.2);
}

.contact-us-btn {
    transition: transform 0.5s ease;
    color: $hightop-orange;
    padding: 2rem;
}

@media (max-width: $breakpoint-tablet) { 
    .wwd-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .wwd-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 2rem;
    }

    .contact-row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        padding: 3rem;
    }
}

@media (max-width: $breakpoint-phone) {    
    .contact-col {
        display: flex;
        flex-direction: column;
    }
}
