// Import variables, mixins and components
@import './components/angle-mixin.scss';
@import './components/variables.scss';
@import './components/common.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './components/buttons.scss';
@import './components/reactiveRender.scss';
@import './components/dropdown.scss';
@import './components/hero.scss';
@import './components/section.scss';
@import './components/form.scss';

.contact-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 3rem;
}

.contact-col {
    display: flex;
    flex-direction: column;
}

.contact-us-btn:hover {
    transform: scale(1.2);
}

.contact-us-btn {
    transition: transform 0.5s ease;
    color: $hightop-orange;
    padding: 2rem;
}

@media (min-width: $breakpoint-tablet) { 
    .shoe-large-parent {
        display: block;
        position: absolute;
        right: 0;
        overflow: visible; 
        z-index: 2;
    }

    .wwd-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
    }
    
    .wwd-column {
        display: flex;
        flex-direction: column;
        width: 25%;

        height: fit-content;
    }

    .contact-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
        padding: 3rem;
    }

}

@media (min-width: $breakpoint-phone) {    
    .contact-col {
        display: flex;
        flex-direction: column;
    }

    .hero-title {
        font-size: 4rem;
        margin-top: 10%;
    }
    
    .hero-subtitle {
        font-size: 3rem;
        
        margin-bottom: 3rem;
    }

    .hero {
        min-height: 100vh;
    }

    .sect-story {
        text-align: left;
    }
    
    .sect-aboutus {
        min-height: 75vh;
    
        display: flex;
        text-align: left;
        align-items: center;
        
        justify-content: left;
        text-align: left;
    }
}
