// Import variables, mixins and components
@import './components/angle-mixin.scss';
@import './components/variables.scss';
@import './components/common.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './components/buttons.scss';
@import './components/reactiveRender.scss';
@import './components/dropdown.scss';
@import './components/hero.scss';
@import './components/section.scss';
@import './components/scroll-arrow.scss';

.service-item {
    min-height: 20vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding-top: 6rem;
    padding-bottom: 6rem;
}

.service-icon {
    width: 150px;
    padding: 2rem;
}

.service-item-content {
    width: 80%;
}


@media (max-width: $breakpoint-phone) {   

    .service-item {
        flex-direction: column;
    }

    .service-icon {
        padding-top: 6rem;
    }

    .service-item-content {
        width: 100%;
    }

}