// Import variables and mixins
@import 'variables.scss';

#header {
    position: fixed;
    width: 100%;

    transition: width 0.2s ease-out;

    opacity: 1;

    background: white;

    z-index: 3;
}

.header-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    height: 10vh;
}

.header-logo {
    height: 100%;
}

.header-hr {
    border: none;
    border-top: $hightop-orange 2.5px solid;
    border-radius: 1rem;

    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.header-child {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
}

@media (min-width: $breakpoint-phone) {
    .header-logo {
        width: 80%;
    }

    .header-child {
        width: initial;
        justify-content: space-between;
    }

    .header-parent {
        flex-direction: row;
        justify-content: space-between;
    }
}