.btn {
  font-family: basic-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: larger;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  transition: all 0.05s linear; }

.btn:hover {
  cursor: pointer; }

.btn-hollow {
  background: transparent;
  color: #f16520;
  border: #f16520 solid 0.3rem;
  border-radius: 5px; }

.btn-hollow:hover {
  background: #f16520;
  color: white; }

.btn-fill {
  background: #f16520;
  color: white;
  border: #f16520 solid 0.3rem;
  border-radius: 5px; }

.btn-fill:hover {
  background: transparent;
  color: #f16520; }

.btn-hollow-white {
  background: transparent;
  color: white;
  border: white solid 0.3rem;
  border-radius: 5px; }

.btn-hollow-white:hover {
  background: white;
  color: #f16520;
  border: white solid 0.3rem;
  border-radius: 5px; }
