#header {
  position: fixed;
  width: 100%;
  transition: width 0.2s ease-out;
  opacity: 1;
  background: white;
  z-index: 3; }

.header-logo {
  width: 80%; }

.header-hr {
  border: none;
  border-top: #f16520 2.5px solid;
  border-radius: 1rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto; }

.header-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem; }

.header-child {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem; }

@media (min-width: 768px) {
  .header-child {
    width: initial;
    justify-content: space-between;
    padding: 0; }
  .header-parent {
    flex-direction: row;
    justify-content: space-between; } }

@media (max-width: 768px) {
  #header {
    width: 100% !important; } }
