html {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 100vw; }

body {
  background: #f16520;
  background: -moz-linear-gradient(90deg, #f16520 0%, #f18220 100%);
  background: -webkit-linear-gradient(90deg, #f16520 0%, #f18220 100%);
  background: linear-gradient(90deg, #f16520 0%, #f18220 100%);
  height: 100vh;
  max-width: 100vw;
  transition: width 0.2s ease-out; }

#parallax {
  position: fixed;
  z-index: -1;
  height: 200vh;
  width: 100vw;
  opacity: 0.05;
  background-image: url("../img/background-tile.png"); }

.subtitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #f16520; }

.text-content {
  font-size: 1rem;
  color: #f16520; }

.hero {
  min-height: 135vh;
  background: white;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #f16520;
  display: flex;
  align-items: center; }
  .hero:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .hero:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 100%; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  margin-bottom: 2rem; }

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 3rem; }

.sect-story {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 75vh; }

.sect-wwd {
  min-height: 75vh;
  display: flex;
  align-items: center;
  background: white;
  position: relative;
  z-index: 1;
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .sect-wwd:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .sect-wwd:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0; }
  .sect-wwd:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .sect-wwd:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 100%; }

.white {
  color: white; }

.wwd-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.wwd-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 2rem; }

.sect-aboutus {
  min-height: 75vh;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  text-align: center; }

.sect-contact {
  min-height: 75vh;
  display: flex;
  align-items: center;
  background: white;
  position: relative;
  z-index: 1;
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .sect-contact:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .sect-contact:before {
    top: 0;
    transform: skewY(-1.5deg);
    transform-origin: 0 0; }
  .sect-contact:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .sect-contact:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 100%; }

.contact-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3rem; }

.contact-col {
  display: flex;
  flex-direction: column; }

.contact-col i {
  color: #f16520;
  padding: 2rem; }

.shadow {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4)); }

.shoe-large-parent {
  display: none; }

.shoe-large-img {
  position: relative;
  top: -300px; }

.wwd-icon-large {
  height: 7rem; }

.wwd-icon-compact {
  height: 5rem;
  padding: 2rem; }

.form {
  min-height: 40vh;
  padding-top: 10vh;
  padding-bottom: 10vh; }

.input-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left; }

.input-field {
  display: flex;
  flex-direction: column; }

input {
  height: 3rem;
  border: 2px white solid;
  background-color: #f16520;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  font-family: basic-sans;
  color: white;
  margin-right: 1rem;
  border-radius: 5px; }

textarea {
  border: 2px white solid;
  background-color: #f16520;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  font-family: basic-sans;
  color: white;
  border-radius: 5px; }

label {
  color: white;
  margin-top: 1rem;
  padding-bottom: 0.25rem; }

select {
  height: 3rem;
  width: 50%;
  border: 2px white solid;
  background-color: #f16520;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
  font-family: basic-sans;
  color: white;
  margin-right: 1rem;
  border-radius: 5px; }

::-webkit-calendar-picker-indicator {
  filter: invert(1); }

@media (min-width: 1100px) {
  .shoe-large-parent {
    display: block;
    position: absolute;
    right: 0;
    overflow: visible;
    z-index: 2; }
  .wwd-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem; }
  .wwd-column {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: fit-content; }
  .contact-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem; } }

@media (min-width: 768px) {
  .contact-col {
    display: flex;
    flex-direction: column; }
  .text-content {
    font-size: 2rem; }
  .subtitle {
    font-size: 3rem; }
  .hero-title {
    font-size: 4rem;
    margin-top: 10%; }
  .hero-subtitle {
    font-size: 3rem;
    margin-bottom: 3rem; }
  .container {
    width: 60%;
    margin-left: auto;
    margin-right: auto; }
  .hero {
    min-height: 100vh; }
  .sect-story {
    text-align: left; }
  .sect-aboutus {
    min-height: 75vh;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    text-align: left; } }
