.header {
  position: fixed;
  width: 100%;
  opacity: 1;
  background: white; }

.header-logo {
  width: 80%; }

.header-hr {
  border: none;
  border-top: #F37E44 2.5px solid;
  border-radius: 1rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto; }

.header-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem; }

.header-child {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

@media (min-width: 768px) {
  .header-parent {
    flex-direction: row;
    justify-content: space-between; } }

.btn-dropdown {
  display: block; }

.btn-dropdown-wide {
  display: none; }

@media (min-width: 768px) {
  .btn-dropdown {
    display: none; }
  .btn-dropdown-wide {
    display: block; } }

html {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal; }

body {
  background: #f16520;
  background: -moz-linear-gradient(90deg, #f16520 0%, #f18220 100%);
  background: -webkit-linear-gradient(90deg, #f16520 0%, #f18220 100%);
  background: linear-gradient(90deg, #f16520 0%, #f18220 100%);
  height: 100vh; }

.hero {
  min-height: 100vh;
  background: white;
  text-align: center;
  position: relative;
  z-index: 1;
  z-index: -1;
  color: #F37E44;
  display: flex;
  align-items: center; }
  .hero:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .hero:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 100%; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem; }

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 3rem; }

.btn {
  font-family: basic-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: larger;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem; }

.btn-hollow {
  background: transparent;
  color: #F37E44;
  border: #F37E44 solid 0.3rem;
  border-radius: 5px; }

.btn-fill {
  background: #F37E44;
  color: white;
  border: #F37E44 solid 0.3rem;
  border-radius: 5px; }

.sect-story {
  display: flex;
  align-items: center;
  min-height: 75vh; }

.sect-wwd {
  min-height: 50vh;
  display: flex;
  align-items: center;
  background: white;
  position: relative;
  z-index: 1;
  position: relative;
  z-index: 1; }
  .sect-wwd:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .sect-wwd:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0; }
  .sect-wwd:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .sect-wwd:after {
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 100%; }

.subtitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem; }

.content {
  font-size: 1rem; }

.white {
  color: white; }

@media (min-width: 768px) {
  .content {
    font-size: 2rem; }
  .subtitle {
    font-size: 3rem; }
  .hero-title {
    font-size: 4rem; }
  .hero-subtitle {
    font-size: 3rem;
    margin-bottom: 3rem; }
  .container {
    width: 60%;
    margin-left: auto;
    margin-right: auto; } }
